AreaAnimacion {
    width: 100%;
    height: 35;
    border: red;
}

Botones > Button, Select{
    margin: 0 1;
}

#selector-velocidad {
    background: #5eb1bf;
    width: 22;
}

BarraProgreso {
    grid-size: 155 1;
    background: blue;
    height: 1;
    dock: bottom;
}

.lleno {
    background: red;
    color: red;
}